@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);



#header2-0 I {
  text-align: center;
  color: #f7da64;
}
#header2-0 H1 {
  font-size: 48px;
  font-family: 'Droid Serif', serif;
  text-align: center;
  color: #0445ed;
}
#header2-0 P {
  font-family: 'Droid Serif', serif;
  font-size: 36px;
}
#header2-0 B {
  color: #f7da64;
}
#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #fac51c;
}
#ext_menu-1 .mbr-navbar__items a {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
#ext_menu-1 .mbr-brand__name a {
  font-size: 20px;
}

#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #fac51c;
}
#ext_menu-3 .mbr-navbar__items a {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
#ext_menu-3 .mbr-brand__name a {
  font-size: 20px;
}
